<div id="<%= dom_id form1 %>">
  <p>
    <strong>Farmfee:</strong>
    <%= form1.farmfee %>
  </p>

  <p>
    <strong>Sharedfee:</strong>
    <%= form1.sharedfee %>
  </p>

  <p>
    <strong>Emergencyfee:</strong>
    <%= form1.emergencyfee %>
  </p>

  <p>
    <strong>Consultationfee:</strong>
    <%= form1.consultationfee %>
  </p>

  <p>
    <strong>Generalexam:</strong>
    <%= form1.generalexam %>
  </p>

  <p>
    <strong>Wellnessexam:</strong>
    <%= form1.wellnessexam %>
  </p>

  <p>
    <strong>Medicalprogressexam:</strong>
    <%= form1.medicalprogressexam %>
  </p>

  <p>
    <strong>Insuranceexam:</strong>
    <%= form1.insuranceexam %>
  </p>

  <p>
    <strong>Healthcertificate:</strong>
    <%= form1.healthcertificate %>
  </p>

  <p>
    <strong>Prepurchaseexam:</strong>
    <%= form1.prepurchaseexam %>
  </p>

  <p>
    <strong>Colicexam:</strong>
    <%= form1.colicexam %>
  </p>

  <p>
    <strong>Colicexam rectal:</strong>
    <%= form1.colicexam_rectal %>
  </p>

  <p>
    <strong>Respiratoryexam:</strong>
    <%= form1.respiratoryexam %>
  </p>

  <p>
    <strong>Sheathexam cleaning:</strong>
    <%= form1.sheathexam_cleaning %>
  </p>

  <p>
    <strong>Ophthalmicexam:</strong>
    <%= form1.ophthalmicexam %>
  </p>

  <p>
    <strong>Woundexam:</strong>
    <%= form1.woundexam %>
  </p>

  <p>
    <strong>Lf:</strong>
    <%= form1.lf %>
  </p>

  <p>
    <strong>Rf:</strong>
    <%= form1.rf %>
  </p>

  <p>
    <strong>Lh:</strong>
    <%= form1.lh %>
  </p>

  <p>
    <strong>Rh:</strong>
    <%= form1.rh %>
  </p>

  <p>
    <strong>Horse:</strong>
    <%= form1.horse %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= form1.time %>
  </p>

</div>
